#main {
    background: linear-gradient(
        #31a1a1,
        #ffcccc);
    }

h1 {
    text-align: center;
    font-family: monospace;
}

.container {
    width: 80%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {    
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
}

#img-div{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#img-caption {
    display: inline-block;
    margin: -1em 0 1em 0; 
    text-align: center; 
}

#img-div2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
 }

#img-caption2 {
    display: inline-block;
    margin: -1em 0 1em 0;
    text-align: center;
}

#img-div3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

#img-caption3 {
    display: inline-block;
    margin: -1em 0 1em 0;
    text-align: center;
}