#main {
    background: linear-gradient(
        #31a1a1,
        #ffcccc);
    }

h1 {
    text-align: center;
    font-family: monospace;
}

#img-div{

}

#kitten-in-the-window {
    max-width: 30%;
    max-height: 30%;
}

#img-caption {
    display: flex;
}

#faces-of-cat {
    display: flex;
    flex-direction:column;
}

#img-div2 {
    background-color: white;
    padding: 10px;
    max-width:25em;
    margin: 0 auto 0 auto; 
 }

#stocking-stuffer {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto 0 auto;    
} 

#img-caption2 {
    margin: 1em 0 1em 0;
    text-align: center;
}