#main {
    background: linear-gradient(
        #31a1a1,
        #ffcccc);
    }

h1 {
    text-align: center;
    font-family: monospace;
}

.container {
    width: 90%;
    margin: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 0px;
}

#gallery__img {    
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;  
}

#img-div{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

#img-caption {
    display: inline-block;
    margin: -1.5em 0 0 0.5em; 
    text-align: center; 
}

#img-div2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
 }

#img-caption2 {
    display: inline-block;
    margin: -1.5em 0 0 0.5em;
    text-align: center;
}

#img-div3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

#img-caption3 {
    display: inline-block;
    margin: -1.5em 0 0 0.5em;
    text-align: center;
    color: black;
}

#img-div4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

#img-caption4 {
    display: inline-block;
    margin: -1.5em 0 0 0.5em;
    text-align: center;
}

h2 {
    font-family: monospace;
    color: slategrey;
}

.list {
    font-family: monospace;
    color: slategrey;
}